apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:3UgVmnSnIozStzBHMHC1Or0GPi7VfIMHKnO0WvBDtXJwNvffXCOC9g==,iv:p/p96NybrBusr6eUTF3aTj0BBCuUaczVdLsrc26sLiQ=,tag:GPmmW9KoRaDdaHhRXV6KSA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRN3hYWXpoSVc2ejdEU09o
            em9sdzk4RldPR2pJc0x4dENnTUtLeC8zOG5zCmJEMlVKOVNRNjZYeFd6SVZydnN3
            SXM5Yld2YTk2RlJSZk5aNDdGMHFsa2cKLS0tIDVrUXhob3RVNjlRT2k2WTBGeU1R
            bk9SWjNCN3pLL1lPMStDOEJEZ2N5dFkKsKAgTcjtmAyDsf1DNwL0qPzOJ2f/5pZL
            S+FET5ODIBJG0mNmEQ3L8R7RSpBQZ97SJ9JX2+gn3uhJJN2tSSGzsw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-04T06:45:14Z"
    mac: ENC[AES256_GCM,data:o/Iuok/N9cXe0JL/1wO+8fvohPVM72c4TTZoXJZn1B9FRfcr1fZeQIfYfqeHj7pPoJ1akztpAMvfE9I+LZwwfJAbjGe7Y68PC6mEqOVsf3tDEW/panmvoCC1ieuSfchOW8gq5rIwRMjiHfmQ+VCRXY0c9+6qgwoh9qdV4sE7s80=,iv:5XrPTjcWcVBY//duV+P1AoRg283G7yCN3AUXDgR7d/E=,tag:OYiw8Jy9vmlf9Y4Dl81DqQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
