apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:MMFUYnpAENNHXu5suknxlIKCen+B/c51ozqsNMz53p0Qj3tddVCxmg==,iv:MHQJ2CUzkLws8K5D/ifHEOaLHKrt00MwI3y1lOh+aDk=,tag:NmwNwMWWqjPH/IqVwExVbQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3UERsODg1UFNiNUJlZlIx
            SmhOWnlwckZTT3NKa0dsMmFYa0EwVkxzVkY4CnBBRE1NNmE4b1ExVE1lRHE5TExI
            OTBjazdhZnBhTi85ZGtNanJLWE5BTmMKLS0tIDFvbkxhMWlVckxzeExSVHEvbDYy
            ZHNQdnVUVVd4cGNqTlZuUlI4d3FzaDQKUdvTSog5GgNSPxe2QvM4USmdN/qNQ8/R
            30mKqxZcbvWZwGcpyRfHdQh1F2ZA5IRhAIxiTnHNEMlJpXFygJzOMg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-05T04:54:16Z"
    mac: ENC[AES256_GCM,data:mYX1sszquDkJF/OiNbQSXu2REkcRVi5s+FgaUyd9i/0ye1Osskt2EcZC836Rp6Ei9yZH7ffL7jfSUMGtk+Q0HBTiGLH1QbyzUR4hxaNcyqLm/KP++VTaEZw/7oxseeyTgGMo/3ogTRoDQXnGQyQvnDF9w+LTsBkkxb5Mq/tdxvg=,iv:i3o4O9k2px4utdbZQuUk8l+MxpNo56Vjii/loSdJ8s4=,tag:wOifjBLTF+wmNtqiwvsqzQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
