apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:Zu3Mx2NvQ6yvS+P4ZOT4fwlO/qeG84lhDyhErSrUuY4lVgbcAPlYdw==,iv:G5bO6YPr++UbfiuaVQ6iSNCl457Jh77cVyVP6hleSGw=,tag:LnLX3Kqmn2vgOI+3wwN6yA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOWndoRVF3aFk5YVVGd1gy
            ZnllQ0djUURLd0ZKMkwweHlyMkY4WWk3L2pzCmN2by9jaDJTV1ZRTm1RcFR3RWtF
            MENnODFxRkVqVkFFTnFWajdvQmNFVmcKLS0tIGJYWTl5U3VBVktwQWNJaVJVWWFo
            RENBdThYQ2N5cmMvT2tHdXJ6UTBTNm8Kt3oKKM+NTdvdapbIXLAaWZYbjAdWHqlg
            6kAXTsSSOuSKHG/jUHttIkvXfhnp9aLuWzm2ksc/mn7UiksuD+6a9w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-14T08:05:56Z"
    mac: ENC[AES256_GCM,data:rRre9WyMb7csqsY7Ydbh6yZrZilCXcz/2gekN5lRNoafCVudqwr4EPKD45iohWLA0igkhcyHVgnxXNOUt2I8lJswcXrD1XnC1OYxs1pEl4zuUhh6eaGamOZ9bgaYF/43w+PI6FGhJc7Y4QurlS7hYUbPDuINWyPYO275x68RwbE=,iv:yPMSJcfqVpzXPCkXOnpFY8drnksMPtAVv8tKZtPUxFo=,tag:Q/u3GmaQ/ESwfCxFVoU8AA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
