apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:DojFJiHINd38i+bFMMbZpDCMX3g8lY0b3Cla1iLuCbEyfWWPALGlKg==,iv:nffUHa7KOsI8T57O72NIxSJ4c5FZgvDJXnZZnoiEvCs=,tag:L4qyy1iuwDWWFbYZ39ii7A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBLRXVoWEFzSVJJdEtnT3hh
            ano2dmg3bmcrSHlCTU5Db1pRdjgxeTBjS0RJCjFscExqZFROYmFSRVFxOGI3RklW
            RnBHWHRIcWxTYzNrYjBQVkpuTWhtSzAKLS0tIHA2aFZiUzVUV1ZWUHRMOTNxbnRP
            UXhtcHRvVmhqRUErbXQ2VkRub2FwaWsKz/Uk6t4QUm5Bb4XX34xfLYK1rp/A9JpQ
            dXZ9hqf3uBbJKS4MsdHVsTcG2hgn+RqMd4utgNh1X0s+lMUyVfibFQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-28T00:29:16Z"
    mac: ENC[AES256_GCM,data:D1j2cDcQKQtyTYu7qEJ5l2QXnLW3pL/0zy1Tv/jLsNprK8+zOA9Yedb/XFOeAPdw4Z7luu86+BPgu/BV0D3who8VaU+bytd0F1FuPoadhMWodPQt9bK/1zZo5wUcatnBOJvgXqSuCMYau33BpcefPir/QyBAYA/LPaN7/UC6TtM=,iv:HiWTp2HrvVhmN4tUolJfqUYbqcXqB92kfGpV8GlIX18=,tag:lkSdXqqLZXa7Xgtxoml0EA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
