apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:G0hi4xjMEKApgQfoxgKDyVyIyrW2w0hLKdY8aH7PfQhWulAh8ryibw==,iv:Y76cqkqsPlpSYwL06pTj425qswnhVwSWorzSWUq8A6s=,tag:daDWyRVnNOGgL3ZP2O4jCg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvZEE0eUY1WVRyTEZoWlk1
            Y0Y5azYrR2l6RGVFNEdQWER4WG94NEptczJrCkNwTnRseTBFbXRsWUYybFdEUHlG
            bGt4YkxGb09GZmtMSExMaW9YWjlzUkUKLS0tIFNMd1JnbWxqQkp6Mzd2SndWeUV1
            bTNvYWxYRDAzdkxYNHpTU29rZWZMZlEKNC6Uj1rE7TqnVza/OjfrxZeaOK3W7OSs
            vXk8nB7SX2pMIcE7Au+/N8XoiAou9XabB/leayXOAvn9prloOfAmGw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-09T02:41:51Z"
    mac: ENC[AES256_GCM,data:7vVNJSdeVy8ZwqVR+6LMMVg6NSDeHZsvShZXMRK1m62K5DaWqLRwZ7/kXLtY/sqfHaeWpzdVpq0mYoIrixvtHOdc6YOJdoGbMU8o2p2+GZtNzd4oY6F2p3TyTTDiG0pyz1gpJCrT9Ujb1tTrnB625QuV5FP0i7K0qmWjbXz0/iE=,iv:f5a3Rcju26LaKG9BzOVA04hIFXxGd0Wxu8RpuKJ3Bd0=,tag:pR4LGHFivWaplT3tDHHMkw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
