apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:rFZfljarilgCVxlSknOwYxUf2/Ovoq9pHhcVhr1sTX3+f+nGwn06OQ==,iv:psoDXAohq5ONbzmNfhJkLD5StBCHvh7X780+beIYBwo=,tag:StjuDHEJZ4AOlmw1IJU5MQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB2Q0dQbEd3a2grNHQ3YkJP
            c3pJVytEY2FpdEpkZlIxenZ2djU4ZnZNWGgwCkZkc01EZ000OVhkT0dRb0NBOWZR
            RVl3OVVWMTA2aGJmeEpDclFodkJQbTQKLS0tIFljalBkNUVNU3haY1dJakgxOWIr
            VHlrOHZnUGd1UVZBWXlSeEVvR1FoamcKcpwGhFtO1gTUcr/s+AYfDRfXPExyCPkt
            oHhZXZnJiNV7t6uBEdVpg3/SWjPydEeYnhnNLejR/Du/uMY0laCfwA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-11T21:13:22Z"
    mac: ENC[AES256_GCM,data:XubQEy/XFo4BBF/XVrm2GjIsur6nfUdV/0YCV7um12MrZcE7nTQJjEwwdCnd2DrBVE79lGdf1Euqimaj2rC42hT0N1AVDYy46hS7/7W4xP9YlqZBrK8h8A6uLhEiysVdd7qnZwVHqbioRk7WtU2hVH8eAuIvO+JUX0vGQr2ntHo=,iv:GBJbYp7DsaL5KM//CfxIJotCs1ODPwvmgo0bouzVdow=,tag:xk4SCpRJ70YC/717NzYyQA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
