apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:MJzABi8HCypXg7apEmqE+SGkix1l7vYoAH24bWBYtoCYn3wwvD71zA==,iv:cAnsEWNON6PS8WH7MfXhBxE6S9qJizb0Nxp+0XNsiEU=,tag:ltp1WLYie24X4AplVz9e0g==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBmT1Uvc010K1NXVGJkZnZw
            T0xaNVFGUGE4UFBrcWRveTNKK0thRVp2L3hvCnBKaUQ3MnhIS0lGN01tMXVvd3VM
            TmlOWTUrK2MwcXZHY1p5andvdUJCQTQKLS0tIEc0RkRScExoek4wUFY4WjJydGhi
            VVlwZ3lxcUl6VTRKbmJwWkxKN2NlSmsKbYp8z9y3c3SVc/lSH1c2O5S0JaUQ6Zb8
            VurdE/bRuAHCfwns2XxMPIoP05Hne3SyqxmdgavpY6SOD0pXP0mCig==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-11T19:10:52Z"
    mac: ENC[AES256_GCM,data:dw5wbdCdeWL/rnJF4M6S2NVOA9S+NuaxQOp0513wqBgrdPZQ60RsQIXgJ+ZtuqM8171LZc5LCjkDJKG+yErL3h86NfaL/lLLhv73AgVHxoC9YeoOS6fWWYC7wROXtQpkwipO15cG3QLwezk3tp7P7Zpo8IUxKZ6cG0dRV5Oouc4=,iv:EA0pJ94hgDax51A6Yth5zuxXa3/r8IOx+omVWsDpYNc=,tag:nDmtuHY2ykg6btA6x25AlQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
