apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:sSCTTOI/ZlbIHG8QvcS2FmmFuLa8YdYmWnf7rxJue2yoMfvfcbN0Cw==,iv:gctjs56uAS8oj2JzNSqDtQ6SArllrL+f6ZKLS/XMkIA=,tag:Xup7xWgY2/E77eed/on2ug==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBKb1hpUjRsSEt6dWttZEdN
            R21DdlkrZ01FL0NFVEpoaVowb0NHWUFUTXp3ClRld1NZc2p4d0V3eW8rVWh1Zzkz
            R1VvYjQ2NWdPSy9vbzdxYVpDZkRpU28KLS0tIE5JVE9WbEpYaFRmUEVvbXJRTita
            SklaQjIwVTJqRHhjYW00MndmWS9SdEUKvDZdWjxEB6xGL3bSZfLB7NY6B9F1Smep
            LrMPjBgVodzesIb4zwsl++SQiDKxl/kgLbe/Tg+CHBtZgrRb2twVZw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-22T18:05:44Z"
    mac: ENC[AES256_GCM,data:sfaVkgf1HMNwACjqGeCw4/NFT2pk78wfbMFOcGfiumhzKEbyK2VDjeIfY9BICm9ifjCVGTHEFZBRhEEY2wPZVwtOkI+8FxsBf98mZk2+hVfblI0xfN/C9TfP+zbyxzanPTrle02aIdYChhZ+eh90+tetIgUxKw2alN0V/J/ufpI=,iv:YFCN60icIL5DIatmVUcx68HIAke0JVPhXBRLO6b5QWs=,tag:R0OyS68Bt1i0IWZZXWfVQQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
