apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:17fmPCYG3fQtKU+rg7ZEVAE7QVapVtEXiO5p0tEKAwpIf5FkDHYTHA==,iv:Mh0GfzHPhZxKg8Toqt2afmGFcSA1rQXfPnD9G6ZsFC4=,tag:l7HOAGCq8wrpQt55HWAI/Q==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3Qmh2Z1hVNUxySHVyZEVT
            WkQ2R1VucllaR3hWczJreTBLdkJmWVdUZG5NCmhMMXB6dHRDZktGNWpmdk1Rb1VT
            bHYxcm1TdkJtdVV0eTNlbGxPYzFNckEKLS0tIHloN1F1ek5KQ1Y5bksvUEg4cWF2
            NVZWd0ptUVBsQWxZWUJ5Y084SFZTU1kKIVkzVcDcoPUKkhJKfctj5e6mmuDhYiKI
            Wxzzy3b75jEWARFOnxfetbo7Ic7eIPF/rkbnBnkR/gA/HARwiN4SYA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-12T23:22:11Z"
    mac: ENC[AES256_GCM,data:S6Ihdo4WzcSJamkVTLUtOxnl+Sq6/uGiUDhmlVnsfpI1RaExfTJ6PC2Y1f+SUXyIvUIN7BtnCJIuCX5utH/dybQtYYn142m8uT9/4sGdn2Yf9UIyhOAPosISuIgTIXbxP9gL34pQ5GZiZKle94LD/nujTd4x9SceBXIBRFU5pRs=,iv:bc4kylgTUAlNRmVDT46pV409ffRXjSpRjUroTxJvpr8=,tag:GW0IHacteOwpwDxaMCUxQw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
