apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:6V0UB/uV51hskWk5gLO5TyKSL4jvE5iMWgiUOmi/L2Ncak7PPgjsAQ==,iv:fYMutgukSEmdYIYcxXyIpOzL651X05d+PIYJaB91aVE=,tag:3Lcmf/8CJuUhuiVqtpEcQw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBpTXA0SEU2ekpBRFFnTnk5
            TUV3d0dlQjRjdThhY0R0NW1hMmEwUWM3dGs0CnJ1Q3JIbnJ1REUyRnJnWXV5dkox
            L1NCZ0NHYlU5TzNMNXdJUmxnK0swckkKLS0tIFBiVzB6b2xMcGgrM3gzRzFKSEFi
            T0Q4VjVIMTVUSS91cnFsMVNHMS9QeWcKZNQlw3XsH21QkuHjNf703FOkcq/G5g/G
            PRHOXxlVoDEXYGjga7kik/desgOFuUg9YmIEip9op+qvoaNdakGVCA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-07T21:37:19Z"
    mac: ENC[AES256_GCM,data:kh1JIBflWkR0sqvWbR24UeBft3WXP36qNioMcg16UVu0GR2jgYSrswfU4XAXmfW37cmFPeX0UTfGuXwfqjWPuurzh6UMqXIvJARtA/JXcfpl+nWAEHNtNpwe7BcxqWjV75MDs0N8zTx/iQ6k4SBmbZE+gC9gpaCZg9kwXj2jOKU=,iv:8cwtNQKfEsa0d3eOfy/OVAo2xSrliDqsF4jZjlezHS0=,tag:t8XWZqhWd/UA3Y1g8j0Jsg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
