apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:zWaMA3+jUdnyDprpHlc/MHFzCKW+Tqe3VcXBwGvHlzWrEAZivtEJqw==,iv:85IU9R4UD+OmoSHes85izQ8X/K7P6ysly72obErH5T4=,tag:QwSDOdxQhBI31QUWlXRxkA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5R0FWMHhqTUljUjlqUDV6
            SS9pSGY1MTV3dG1LTVplWmt5OTRVL0djaW1VCkdOQ21tSCtaeFB5eDBxSFhESVZM
            QU1rVW5ndXMwam1QRjA3eHdrVnRTVTgKLS0tIGpscG5xZThwaVZPRDF3dDVWNnFO
            NzNZSXlxS0dCak9YTGs3NVpRU3QvZzAKf7u427/c0sj8AccNXuPjXCwpgg4PS8dt
            fafvFevYz4wL/2lJjrTZMk8kVOWco8XLiuTDn7injmQu06IJw2H63A==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-04T06:00:51Z"
    mac: ENC[AES256_GCM,data:m0m4s4pfuPsI7e+amZz4GPdk492wE4NE+wmlpPL6J3WNbosuF4UeBNFGbX2s+GqLwYSBWkPuPVWk0t6XfanPMRxDr2XveSmisQDtR0UC5bivBN9dXffkpev+E+vRHG38abqhvN18KOWOC7BepIPyXMSzyEdyUl+FjkIfA0O122s=,iv:5T/Thf5CoeTxPK9wLfIZQFMlbtOhnsRX3faLABPmvkQ=,tag:kNZia9d+a0cXvFmxQrX6fQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
