apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:LnxxbkMI4lBvyeqJyS6ul8euC0ORYE39hCYOozafcGFjRVT1Cy//0Q==,iv:34jqb6RDQVEvctlixsVmRtNcZXvY5zc9GakaNWUwy28=,tag:LUiFKxIpj8FhypKjbTlpcw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBieGpybE85WVQ3QnRLUERz
            SzFJdmEzais5UG4zd2lZQ3VEZ0t4ekVVSXpFCmt4Qmg0cnRqcFhTaE1MSnZ5K1Bs
            STVrZUlkbnB2cnhCOTFnVEUwVGVyekUKLS0tIC9qOEVQUWZqN1pQRlBiN0R2NE11
            YUsycXRQbVdDc2g3NUplYkpLcXdOMzgKhal8tEuhT4uGKwzCD9SU+NhQ3JZ+g/8I
            6tg2vv7/wFb11Lc33zainpl3/iDGzxuZUQ03thG5bSgoTUiY7LDL+A==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-05T04:32:18Z"
    mac: ENC[AES256_GCM,data:4Gwr09INzU3M5tiXCjHbtBC0EmtlMOn1xeWsBYG6Wx+PjzyQVhEL7Xwy/6nY//2NVKtAZ/lhUyCDLVxoPF4i3DXTfmeeWBIN1AEJcXDfiW77qUN7mRIlnPLgMh9Vo9txkWv7YiM8/kJ27kbYMar6Q1ewT+3pQQzFCp6AbPYCz94=,iv:kxsecsQYCv1wSQbqNCRJiwHV3FEf9x+n7Nh6RCxols8=,tag:0MD4xmLDYvN9pHdPXdJuNg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
