apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:b3SbXlXSr84T4h4bKLh8HQmekEGntXyD6EWuENNaspc/cHEtdEDXCg==,iv:9U0QQSsSse4rYxkBAAuFGmEjjx/+8zrywxvPDzb5Gg0=,tag:mMtJTgsLKOqCVBt1q82ZqA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAxTFhhd3NtTlQ4Y1VlV1Ux
            dGlsZW4yeU03YVFydUxuaTNpWmcxanZnTlZFCkRhSVFYWG5BSnRjTXlXUmNXdU94
            WGNnM3hQbWpGeGQ5RnNIQnFNcWVvVzAKLS0tIFFvekpRV29xQy9hM2tuT3p4ME85
            bERLMnJpWDJsdmpLbGNiK2pUMENNSHcKhmkAyBKcmqMJwnaITPHTk+85Gj1ZScmm
            bamvF9B2psptJXpaefr0bxmHok8hz1J2xOt0f6VHdkJl+8FJX+Qqjg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-15T17:22:48Z"
    mac: ENC[AES256_GCM,data:DVKT7cK2Yc6OsuciOh9B/h0plllBEh/UTUKpsCHo5MAfKUau8uFqLfH/EDAFyHL1A6vsu4E4pIqVxNTJ8/NQ0Koy48B2maNBw8e3ajI16q61KrN83S+WoU32I8vMVkqdZwjNo2prNSZZ+9Lgh9/qT50FiTbIaWTqDpetL9rMz8M=,iv:jZ9iPx4mliSC1mD+CRY5HndFZDC58QWVkHX9qJWT9Gs=,tag:kce7TAMYyHPTBik4rYVrVg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
