apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:M92IpmyYxb3viVEqjPRmAFbR/3C2RRwthMnwGViIxDTXRrdhI+2Ctg==,iv:7PX3AUxSP709kE4zh2v5f47wGxmnvUpJAplAfCVtUnE=,tag:FUJu1MZZ6BqVHmu9+PZdOw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBZb0xUWXFrZDhMam4xSHRl
            blRiSGNMVThtL3V1SmVtTGFwQWJrZ0FwUzE0CnJ3OHdvMXJOQ3Vxc04xejZaeGVH
            VWpYYnlxRjhtNW5QOG05ZzBoa3hCTDQKLS0tIGQxMkRqWkcwdmd0N3N0aWRLYTBE
            dUVsT2ZNSkxWV3BWTlBJdDZDMndhZDQKOAe7MWPooBAxiVpOYCt/ydkATFglhkQs
            raqldU0t34bZmSJbOalbo2o61yN8BM1h7a/BmFzgVVJC6xKJn1f1lg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-02T15:11:34Z"
    mac: ENC[AES256_GCM,data:8vnFDCJb4JYZayFlHkOcpTpwZ4RvfTbLWMQMrXbonGtltxWUdb3rcn91gf5WYNwcQrkfeL6B7Ld67jVSlwfeoppNcJbtT3clZ9uUnen/0ral/lkm7l8PyanEGqPHLnZHRO5nhn+JkUPl0Txc+cEFDbq9iM8dR59x1l+Iqxd6ULI=,iv:ExLNMo00NjkwnIE7An4pXaijRoatTgTka0lqquKqOig=,tag:jnZNEbt3//I4M6GgSTRO7w==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
