apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:hJSGjlQ+DZrxZn6H9NaxICbnHAl5Lm1Vr7AWs/wsxT5RWjO6rzhW/w==,iv:HPQB/hcCvzUOuKtNLEuGh5TCe3YzyJjft4pkfo8t6u8=,tag:2cpNkSqFWuD/j7j5jIRRjg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBZcUpjMUpjVFFKM05aN0V3
            TGZ2b1BQa1BpdDVLNTlkYXZ6cFRSbkU0V0JZCmI4S2ZNczlxNWFuVkV2TXZhb3lm
            U0lqNlBIRkY0WEVlYkprTkFuTGlCSm8KLS0tIG16UTMwblpnTzJERkFLVi9WV1Ja
            THNLNnkvaGpDYXdET0RkdnlGQkRSUm8Kmp/3HWNF/UmCTlo7dqYk/i7lbnulZlb2
            JeUj2lV3+tFeT9+JCBH3KKI3PBl9LjJV41dRmDQJD0DZtI1OHaCNYg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-28T20:05:48Z"
    mac: ENC[AES256_GCM,data:cRxKZtKbrgEl5BER2JzRSg42IDmDfd4Q7JgOA9DGm6HYwuzczrPkokCbAv7ZMNctScmkO4+wvmJu/sRYj1ASfeU+J8IBzFNEX+QIBj2rFxS3hSMMXffmO/mgmSVb3i5nDGgK49toxuvbSWCYrmSikK1qw6NkL3+y48Ak+kbp/ss=,iv:HyZdyIUYrElCyanOX7V5CXwW88OPhSQcj8Gwy3SvBys=,tag:9rGi+hyWQ/eWHsb0FP92wQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
