apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:Asapj4DOLUX/S1pU0UdJcliRkM8rIb9ACnRyWmPTNOuJRORA6UKRuw==,iv:ndKfXD4Q5GRSqlD7hyL4K7BQwHYmSk4iaVCFHDCIQAs=,tag:wPbavKivI4D9fqakjXjfXA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBzREVNaWRpU2EyNjVZZEUr
            cHhTY2lkOTJmTFhCNCtnYjRzYURsN3FmcEU0ClB4QXlBQThXdGJuYkNTMnRCN0RO
            NzZBSXVlUFVwSUh4dGxON3RibVJOK1kKLS0tIGZCcGprQ3RPN1cyOW1VMEJXaUJs
            YzV0amNwbXI0eTBDRVFVVzVFK2F5YnMK/jNO2PYhYegVz8oclrPN0LFx07/onp1o
            7zcBAmreXe3N5BItqPt+ANugB+FTBq79YkuUhSutslb6agyD2iaeBw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-02T18:26:07Z"
    mac: ENC[AES256_GCM,data:Xffn8JQgBPdhXGFJ6VHfDQnfARlXuEr3TasAm7AWHSPHf6/smboM4cleYqYJcW8HIObQBr+sTf/x0MaHk60XjIL6JTNwhc/DHDJW9fd1phxxulCiOD2Q84Kp12wbJuI0hcWIRPAX1ZKu1HC7FhfkCvEgidRqAPIQMwfZVFmDNTc=,iv:WscSo/JFwu6lKj2HD3iZMDrX9DOBPsUjLNgu0en8Qjs=,tag:lkj3pjEZaxiY0qF5ApEQvA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
