apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:/EQtD5av2GfzCOJSCWlH9hWpSBxQHL4H6+CQQ6O0QHlawPfR8IpXZw==,iv:5jsINvF6fKtmQfxlS2bjgCGOhuyQXN+/88n7idMGsps=,tag:wv/MgDDIv58RYacLxwq+6A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBhakNJT3phWmZTWWpIOHky
            TThMR2xPQ0pNbHNvMlRvOVo4UDZRY3YwaVVBCmx0bWFPZTZtZ1lLSUs1UGlhK25P
            b0wyZEVxdnZwUHUrWVQ1ZGo3ckhZY2sKLS0tIDJSY08wUHZhNUVsM25neVR3NXJ5
            SHFrNTdOeVlVOEFJTWVKOFZlcklGQmcKNn522jqXpvzHmHJpSRHEklYsE/TXJ1XL
            mmmqOlubRIOpkTuLFpRByQd8RcgehU37oPYHZfvppNf1FyvuOl/pBg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-05T04:34:51Z"
    mac: ENC[AES256_GCM,data:N8AllDoFh3kHQ1ZrUku9RAUXLmsGyMD1OcB21NsLNd3C/zE34RhPfCTryRYOGshP0QdIk3Gv6vo1l1mP6dkswYR2XrHZF1qcAX4fPSyAll8BOK9pp4zVUik+xy8n2ZupB1nJm79w3+rzns4TTK0bZz6Vjmf1tQRTtavTi3B5AC4=,iv:KdpF5TSd/CTsLNcbBsvtLQV5fUkUgXMuu9FCklkApq4=,tag:JgQrpFIizG4DcgUApV3Jyg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
