apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:E3MsuBshT6HT9tpyh+/RBCVIBv3537OIHEPH3u+IMpN56V40TfMMIg==,iv:1E/N6RM9DfRmbmSv6bSEKMSGNW2goj9tcMbDyuudVQg=,tag:sF94vc0Ok++cZXvmonLbcA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBVd0JlMVJNM2U0MjJQa1Zt
            YWFRQURnMU1hSDJnVEdnRDNIYm43TEtpWlQwCnRvd3BFOHFNNm1Nbnd2Q1hpKzdo
            bElMa2Y4UTMxeUFLQyt3Qml5WCtKWGsKLS0tIFdvSXU3YW9meEo0Z1A0aENPZytO
            bFZXem1MVmZad1BoY0pNemJLWU90UWMKG+ZDuN+otEFxgQaj3l5zm+rnAb104QaN
            Nl96nHIlB+z//RP7kR6GSn+2JBG4lImoj/y21DgVK0q2GwwmM27w+w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-23T00:26:52Z"
    mac: ENC[AES256_GCM,data:7z69cqWGyoTLOeGxqqssBeZ2H2N7eb+tmkoyPoTtJ0uZhGlTTlMdIrNn7I5tdpsim+OtcKa4ml8HEjsi+bPtxMGwUZyRZ5x3g9Av6M6MQtx+Y3r7wjOhU01xNsHoyxOzxj8LwAuGvGat0iEt0ylTR7bQutH/NQHGH5pzRd71M7s=,iv:qJRmgGU+JnKmrIs+6F64Bbl03Vn7fC+DG5VOq34/x4w=,tag:dxlRF1XnuzZ+a5R+G9ltoA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
