apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:j+0da59ErDUaMVSGxtEgF0M/oqHtKBbUxxiZJPaq3p+WCEBca4et1w==,iv:jxWWcngKrKW4+IOrkvkxin75tYUbAKeGGPS9288Iq74=,tag:lNrFjBKuJhVFv6pN0hcFJg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBpUWNkSnBGb3o1c1p2aXpM
            RkpRNFdrVGVtUzJxak83Wm1lMUlHbDhWWW44Ckh0SDVpcDF6YXlJd2tuZmxZMG5Y
            Uk1xZkxwMkE3aGxod1MrZEF2NzU0SW8KLS0tIHJjYjZPcDk3dGk3TWZYYVN4SEp1
            S1d6SzRsWkZobDNsekJmR2Noeks2cWsKqsmvSI+vlgbPdH3YYlvXWDDJCeE0jMOY
            OccfEgjgj37XDVXhQcC3z6kIbi9ImS/PidLa6whdnIyxIWZEjohOmA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-11T20:28:26Z"
    mac: ENC[AES256_GCM,data:avb5whWhxpPweM4eyRmFy4spdMqPJYN4MYJlzdZTMZgHWSQmNcqYb2AaGO/AlehS3WsxVZhLVdzcJ6Gdj6MTTO+YQjYV6dM+7WqQaCRvovSlaSqkJu/PiBkG8o5AEwPKy7AVU2LEnnWYr8kXwXWKaGSx6izEMr6fdS55lppn2iA=,iv:af8i/n4dniO9nghsEzcuctqWaeH4gkO7MpwuLmZg+2w=,tag:3JOCqUuLviScJqfG3AtDmA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
