apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:r/fmZldP9bgUva/QT0vshZOP4oKHT4NHZdHXlv203k0om9U7WqEpjg==,iv:3+29ndSLPfPQGH7cTHpbhh1sEy0ul1WLgvej62BgH+A=,tag:YUdTJn7+gZW2WJf47J+PZg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBBK1g4UkQ3QTE5RjU5VDlx
            b1FlRzJlMTR4NGtRd2o4Q1BHcERRWU9TUkRJCmNsd2VWWlNnWFplRlg0OEtMazFz
            UUI5cUZDaDVCNGYySzkzT2NESDZBbVEKLS0tIEhYQmNZTEozazZ3YldUekwvZzJn
            NHNHYWtCUkR4VVFXenpLYWExSHk5ck0K96ndbbvMdCG3NmR/6S9atGpOQ9UejKcA
            /SOn1mhN4Xab2y1Q8tu74qgu2hIlJtWVm6cpP9FXDRKz+oVPG3gu4A==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-16T16:04:36Z"
    mac: ENC[AES256_GCM,data:qofpHRelPnvKz/Vo/Bf6Wqhi+hHwxWvA8I17vCZ5+kTfizwHkZ2y67yJdQTcdtXP9oq2VfHH49QsZ66RaN/EQFn1xaIZZBIRms8Q/TgpJRclsG63m/NPhxLsNplUyL5tpVTZNZQLNsBwjsJXNDOW3SVPkU4VqF68Xig8ETeQtKY=,iv:MDREOodrF43JoYb+9Tx7uJzUU6h1l5mJhO5F17lzxbE=,tag:XmXoCznE2/8G6AW5WIwELA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
