apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:RZ/JVMX7l36SmZwZqD9vsse2xqYv0x1vygOYE7nWtBVBzro5046WAw==,iv:WRuvwHOSJttPI+H/foXX0Jysr9gg/Nfc57bt5Puj7PA=,tag:OKpBRyam1cj94OXR03bO2A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAzZnpUYnJiS3MzRUptdi9F
            eDMwN3ZXdXF3aUlkOE5jRnpmZ1lQK3VEeHo4CkxTRDVkR21pc21STUREUmE2MG4z
            dnFLaUZCOUpOalFZTkVLQ3hXK0N5T2cKLS0tIDZqRnJIbWF0a2NYMDI4c2J3NDBv
            NVF1NCsweElxQytVckEvZDErUWZsKzQKipUE4Qjo2bN+FNf6m8z+X5WkKRP93Yzj
            21BXBwqroQXYK3r8RReDnpDCurYEkXBTGnWvg8Fut9UMc3LOhlIepA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-02T22:37:41Z"
    mac: ENC[AES256_GCM,data:Koj6gyLGp2gGabOmJbEyEoUHOUr+ZFr7rvVnXNyArLAoApU2vjtJxX+d/yEc7kijDYlUHJZ0IBLRXymyp+lY9AnIEceJRkFOGWZJm1wcWI7JaMuGlWf6aSrkjt2l2nAtPPysbyZViVWVvoWJh5nuCGxcTm/3QbeblNNQTamWaL0=,iv:g8YR5XHKQU6Bpe4c64P4CuekqiBgVgA50erNj8iPVRU=,tag:e4Y46VyREkLLy0qV4IWSEQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
