apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:cXeR450RXe9NeEqvDQ0vLC/nI57jEp6oHzMh4xLXHD3eyJH5vxiWjg==,iv:L61ISwqbK4KCLmqm9XPsHm6+Kl3mplqhT3wGhSKcpU0=,tag:Qny0rQvu9T7aU1uAVlSmfA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBQc0xZUW96S3U5OHFFWUo0
            K0RFaDV5bUwxYU9SQTI0SDNQZ0xxNHAzVTFrCk5KMHNzVmVhWVlYMm5COUJIRzdW
            SDhpOTNHZDdFdUF0dGUxVHVnd0tVSDgKLS0tIFdwSkJHL1hlZ0lOa0g2UlhUNlFi
            aWRuc2YwdisyTWdKNjJrSndZSzNXWlUKc2qubwVUCCCSAgrLFFtb5w05JE9zfNC9
            Ql0HIa0QKNFDhnIarVWUIz7RZFsfcCaOxFNFaJwCQAgT2to1zkKhFg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-07T19:49:03Z"
    mac: ENC[AES256_GCM,data:mrTFZldsC2s1vPEUSN/XN22UXJnf7D/JYCiX7kbch5KiNwzwumKSA0umkWQ4OxxAOqtH2x6RbtiszyR0eGE1h4deq8MrllJoIG5lMNNzhH+Ny7+TlsXxylE1Ulm7KoozT/N3Y/e717zEj+YP7e7HrL1q+Il7yJ5ZgtDa5d9ZZGM=,iv:eNFPonrmpUqTgQyfs71bBt0m61AQIB1dfNClRW9NTcA=,tag:pv+PhBojZI+mHSLNAoB04Q==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
