apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:7RmH5B/8L1qkdJewoNtc6uzEBP4GGEaG2gmq5t8cawby9U/iGTZCSw==,iv:fQKLgEQA0sIVfN79OI7Lza/cL4WXGl2VMkJZ8w4d1Jw=,tag:FKTly2l12y4X/axjrg3vyw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA2V2VtVno0Titibmp1Tk1q
            WGdNY204TWhCZEJQak90VUZmL0NsWndLZ0Q4Cmlxb1Z5ZERqT0JpQzU0TGNQSWlB
            ZXhyVHozY0IvbjloOS9JcFBsY1BJVTgKLS0tIHZPQWF3MXlLTlV2WTBvZmJTOTls
            ZnZSNjZvM0kyU0x3VUdZZm9iMWdxYjQKlAlbL9WpXm3u4vnnXuqx7TLKgMEVI1zM
            X6wHg4RmR5hBQPnPYVjtiQyZ+dyeUOPu+2WRyP8bApuDU7pbyXALig==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-25T17:02:38Z"
    mac: ENC[AES256_GCM,data:Xq3cbKI0/WSvEaWdPrzjXUphlzu1YmL5trOGQtUUgmXm0WLruHk6RXDgKjlAbn+tInIMYrQHfAkhM8jc1wCCEBfLyGQssz/IiAJMK8As8dlLolxG4oLIvyFmtAVPuhEzS4wg9Rk2GkMFSe+48608d4W3dyuuY+n+hWx3qmBCMkE=,iv:1eLNP2dr0Iv9ifgQc8ZXAfyBBModQuWphEgYXgWf1Y4=,tag:edBHH8BFmc1JHXdNkF7j2Q==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
