apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:IXpBq/Ed2tAKM/DX2ssE2mD+tuc8nk6FipNRjOeOf8ekX+uuetfL/A==,iv:9Q08UjeD/zm/RJ+FBjdDKm5Ogfswfo59dRGVCLyf66A=,tag:qG74aCjmiXRCKGO3BmCrDQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBVWXMvbDJnUXFpMVpxRERK
            SStHWUtJWXZYdnlBbmNKUm9naHNPUm5SRkFNCkJ3ZmpvQlNRWlFuNnlVK1N1QWtk
            eGFZeVJIbnZ0N2tveW42RTB1enZjNXcKLS0tIE12SXcvV2hDSndKQlJvTnlwOGVG
            MWh0VzYrVzZrUDBiNTFlRkFyK1ZXbHcKMKYl6R29pywC5+IiQAwMc4P0RvEAZ7cU
            Rd9YcIgKXO9/0DqGCuK4Re00VZFBPlLIdDms4MCL+D5lB4SApzRahA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-08T02:17:21Z"
    mac: ENC[AES256_GCM,data:5l/Q0TsTdk+f1A3AixHMYYQQF9JKctzEOtcTFsTZdwxn21c8IoPzCglqk8Mc/V+6zL07Cy9OsrflxUnp7C2LlI3d0IMoEjTnTHaRppiTO7xFIyqs5pNqUvViwhtiemJemRWgppN1QJ9nyMUb+9xMBpMRLFCjtTcQzkEN3y0PmIY=,iv:IJNuSo/XHDQ0ZbfZeZIZaNaqRM6E3U9DkfSNXo7FnJc=,tag:loULogB1wAQKyNKqUWF7mg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
