apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:pH4ToGon3GqghSPEonbXIitmo8FT00DYW3umiIXrA6v5BgFE7Qm96g==,iv:YrDLguUCmP9VssMq4BqLyyEW9Tk2ozssHJUELJU9atM=,tag:lg7FaNLcO25iIeWBhaOmRQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBIWXhXdW1Ybmk0K3h4Z3p5
            dzhwS2h2ZlpUaXZXVzlsSmhnaXR2NnFqMW4wCmk3b2wwck11U2gxSHVGZVFiWk8w
            UGszNHY5MUlDUHBSQXlyUGsxWkxJNUUKLS0tIHhFWU50RDVLK3BicDVVL3FnWjRT
            UHk3eWV3N2RMV21mVUgxZHlHSTYvK2MKk/Jgp6GONaFf1OVsGHroCXGROh5UbDIY
            +lETR28jwDGQgVg+zuqfZpKX0sqV4loFfoU46dataNkQnYON8/9EqA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-12T06:52:04Z"
    mac: ENC[AES256_GCM,data:BNpo4+qiZBPxTPL3yBKyM9e+1xazF4NELIeebCA1aULlfe5b8v3clOKrrEP9X/72dWljQ0XybAd2WLotjnc6DAS8AALak9qShJlYzL4QILFVoJWu6pr8Um1bPYtQ1YUYdKsCIeiTagI9X4CgutAj/f4RWLk1Yx3kUZuVsCKb5c8=,iv:8BS58T4yLO7M6OF6XPUrf5KMPAVcNm957/k+T2pYcOc=,tag:U8FYTV+u36BXnACaAwdaCw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
