apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:faU++funBTE/kWWqVZwiQ93JpP+Dnsq4mQkPmIaCAJSqvopwf8LDqg==,iv:p+Z000++cHNIN3P7xbw1GOnsY8jzzHKZ4aeBrkR4p74=,tag:BqzfiCfGoSOlcfqe4g4SQA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBFVzUzeXFiWXNTaEVBSnpq
            TEgxam1ITFZWYlZGMGJ4NUdhbFB2L2hOb21BCjB2QWtJYjYwdlNjVHVPY21EdEk2
            d2tQaGx2Nko2dXZ3MGMyWjlaNXBTU28KLS0tIE9DSFl6RHFlclFOUHRFSnFNdUh5
            eENIS0RkZVRhb0JxYU5YcURySnluSk0K5UNXEVNjvUntFndCavJW4h2PPp0k2oaN
            4d/4DuyrW34DSHuRztNGknP56eGE4GZ3QLnRioieSvVV2h9B/AnDgQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-12T23:04:55Z"
    mac: ENC[AES256_GCM,data:Bgp9Mqep+OMIv+UkBjAiJ1Jqp9hfO67K7HikIDAb4xpCi9Xi3myjZjXmnI+/yqUNsFLbyx7GJTDiRDlutFIekNxYVl5RmIj+glUvbft89OvJZDVlHz6dqXWTg8Wrs0Q/ENFrhPEkdfdUR4PrefUKS5NjqyvivOoSjnrXeSKZ3Js=,iv:K3e639dCncsC5gDALRC8bjE6SukRbNokoWL6pTrk9ns=,tag:qgooCkR2PQNa8XQP6ZSy/g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
