apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:lduCbnZalaKqt7vrBT3vEgvdvn72Cm3F8H8UaSRZXdUs51d862yUvw==,iv:C23RIODr2/axRHGfUP92emkkR+U8AVWg0YXLOkxBkn0=,tag:g0o73QtykMD3H9oN5QIGbw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSByN0o5ZW9ic0Vld0FhQWk0
            a3hnek5uSlBoT21rR3MvNzJ2bnp6a0FyMEJrClNRZ0tKNkVrZ1piRFc2c0htVnBC
            YVAvbHk1cDBrY25rWit4UnREb2VBVDgKLS0tIEdjNnpIRE43cW1keTBRNnpvT08r
            ZTRpVGQ0d1hTUmhNMmhvUHVUb0o3dUUKt2sw7uOMreoNyO4+re3zalZTwVWuOo/H
            +Jmvx/wHTKG5hrzU9fbdp8gznX+XxNaKZt378VM0uqJfjy7jJ2iSbA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-10T04:16:21Z"
    mac: ENC[AES256_GCM,data:JD5COnC0Jeh+SlBx9FrvLuisRTbOg9hq8oOah+nopwT8uzXhjEKFEoEEisyG8gacLFaLuHDRTAv5YmHDygJmAGrYB4WZm3DrBu2g4VOMq8uE/hXgE2Oys07rGfmlwWb9l2dL1QN3ewLyiRvXE8KnOOuXs0gx4dCWzLvqQEUKGSg=,iv:qVmu3QJkfgQ25D7vkOU22gOpGYIA/tjunBUqPleLtNQ=,tag:hp+HJHpljRWh1HtEe4+D7g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
