apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:NuZvEm0Au+hesUlGqDREpBrybLecBW/InSv1w3UZkIr2eEC7JDTzwg==,iv:E8ZwBl3IyjrSdTlyDl7ltvRT1PUK20FYRb+97z3rFTk=,tag:iSbywk39+0or5kCoNwdCCA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBDM21sQ3B6bURCRndJY3Vr
            RCtmYnJJdVltZDBZTDI0M3RYOEpsbkQ1ZVVvCk1RRVBzMktiZmpqSTBrd21NME5Q
            Z1RrYkU5dlIvZGU2ek4xQUNQbUFpMFEKLS0tIGhkTkFNTEFyalJBQXZvcjBlL3ZQ
            MFNVUEZUYzZjQW5DajljN1k1Y3l2Wm8KBW0vWxVKxxBO+LPgYBlN9hEwsMvEPJm7
            aOPyX/dKBAeW1kcYBytjJGZRpm0B1suPEo2RD6mIBb6ZoX8xFjPV7Q==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-28T23:00:41Z"
    mac: ENC[AES256_GCM,data:6Z9XmPZ4J343/YCcb/CHQPAQuQ7ZQKXKomFxJihoQUZbeB317zS03bVPGmCZpuAemBiCTA6pOU76IRs23eNbLumUkElrlTnKPIdqAvy1wIF3YuMUrMTVmOSalSq2/TlHuEl9Ls1B+YzJQs/gp4DfMdtWmRaScrvAOF0CS00KS1I=,iv:jx9dMIkEWlYDD+TFQ0OxHYrHPnEDrFX325SlKuuy810=,tag:gS3UDC8jawHJSBzDOKHR3w==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
