apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:8I1W8ATPmUAqtVXLOW49vCWcDzl+dskt7Z8PqCXhV6+yAB3znNp67A==,iv:OsxxbpTxwtoF7UiPztEYXLIwWxZNegqqvdy5c6XvVEY=,tag:I5vOk+swjNixM6sQvw0KVw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBZMmRuSjgraCtCSjFMaXc2
            VUNrcUsxM1JLZVBiSDJCbkNKQU5jaytKVkVvCnJwek5iMmhqVzdRNGorYm5remZn
            eU15aHlFZnAra2NydUgxdm9kRlpqbjQKLS0tIGVoTFBvVWtXM2VRdkJWWUhnK3BN
            MWdreDVYd3lMTG1BS3E0OGV4RE1YK00KrcrLzS5USaEaNH7SwYkBSp59/Yy3fy0+
            V2G3bhTpoNqVjzDTN0CeI87X6dD5dSgw5ex5CbZZ28c7R8G5t7aCyg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-22T08:18:25Z"
    mac: ENC[AES256_GCM,data:UKF8KA3ES8gXpTLZupjhe29fop6ZUvmgcOC2RMX8t50r2/E9x7jaXDsVVZvHBtroqHAshD0WQSpy3aEqayPQZega/iQymbD+aiotjpJz67SX8+jlh6kuH5A3fVOIZrtzudxZMGJ6oSS/MldxfCEFgKwdR3zI4qQBQ4xQpNhTcoE=,iv:ICBG9YEx5ixB+XBDXIp8e2re9hg6EcNMiOCcRNC3uls=,tag:PmoAJf995glpQ6HwNyeZKg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
