apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:MBqxLMEYfoyOIYXjev62oj+VAN5flzvZ7PaCBE8PbSj0gcZXao0yjA==,iv:ajMYPvOmFql2DDqUDdzam5EeurhpF3m8HarGRx1f47E=,tag:K/e/QObq/2yy09ldn6V7HA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAwUEFDYjZGSjRpZTc3dGJh
            NUVFSXlyMnlsZE9JMlV5QTRsdnUwbmNMS0I0CkxvaDFKZmZIRytyRkxySjRLYy9m
            ajNhd1lBY0RuVlNvSVFsekRwQUFmTGsKLS0tICsxRU1wcUF3d1J3RC9vTUtPczl2
            QzlUYUJLVWxqOG0xYkRCUDllYmU4K2MK87Juyuk4pZmkZyqmHWkWbgjpxZJqHa1J
            nSqH/TVf443aQ9Jdm+m8LRxUWe35hAS2xHi7MQ7RfMlRLFULrP6ylA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-25T17:02:15Z"
    mac: ENC[AES256_GCM,data:qZNxwERYr1Nudne1PnYxMqzrDIUV+O6iOyTdSDnJnffsImRQJOtlRmH7Lwqwyh1nfO9uVQTvnsEVcbbuXoUBY+DP9rrbFvkNaBqdQcEwTpV5p+XiEpu7nblq4aMQPtjtc02MlQW21oTnMP+K8eP/+yUWbSNFSibqG/Ha6ddPRf4=,iv:Uee+tQ/KeRjaxZHGJVJS5s6vACIcegh2nfl4ptYNTVw=,tag:cuhDH+HjGXwmizS73tV+qg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
