apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:eZdZYHrmh7D1FL61v4AZVEwKNrHBkzw4VBpfVwHWQ31cOtqfnOrSRw==,iv:+sVKOhVch2vlrO97KtF8E9FwWzhS5PfJ06lIjokcROw=,tag:p/s1tmONkrpUzarqbrswNA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAraW5UU3F0NkFkek9rOG9M
            ejFNUzEwb05oOHVwcjJRSDAxNWxNVDlMR0VBCm1wbHZnVlZtVnNLWHBVNUNOMDYv
            cFBURUFQSHdKcVpRc1U0bGxqbFA1UHMKLS0tIFIrRmdldDl3dlIzbUcrSmF2ZEZh
            a2NycktmcFN0eVpYTjg5VTlFSVpzSlkKNDkqCUqJUC73MliusaWWhaYxv7XHZQNC
            AAM3UDlJiZcEGed2goJ5lojXIk+vSkIR4L1lurSmSTG7s/+Nx7/qgQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-07T20:16:29Z"
    mac: ENC[AES256_GCM,data:HwBhQJJ8EMHpQmTnUNLisFMY0Fy1chqnvcD/ep5uhhP0fqghMFx1pdg1GPEPN864B+H6qVxMg8wV8vS7Rb2olvRQlxnN+0UgfbRzQcUhgTH5mvh1Q9fKEI2kBoP3g2u79SEl9b0S5lWijfL22jT0xWMC3eO9SNtAerHW2nDb1Bc=,iv:+qKMM6rl3RWRnPOjmpIbOnDqWtg1CFcNfIIFoKSOMd8=,tag:V9eP+e+OCBwa1w8lFDVV6g==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
