apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:L7bT8k+07KjlEqjqWR5zX6v1e4aubHXSuVxtRXeVvmPLnrtMXgzDzw==,iv:e3KB0LPpmiGtEr1ehyPeE5CCPwnVS/3vfsZ6ZrEjXyc=,tag:xmtTggD7720Mj9s7EhyOoQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBXY2R0SUxMb09NdjJkQU9C
            NEZLREZ4S2g4Vkg5OVNJdTFEbkRVZkwwVjJNCktlWjNDUDViTFRLdFBEaXJWbHli
            ejd3YzFwVlczSjl1Mmp5MWdwcVppUlEKLS0tIFVRSlN5N3MwcEwyTWZId0o3RzYz
            WnBuK25XbXBnQ2gxRlBtbWpUOHdRSUkKYLUp4674sQpcF/P7irJhfrnRCvGC4QDD
            DsK7ye3YPmP6EHGopaGDvSuvXJnZVHE3EoWt5+xWC9NK/1WhTe75HQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-11T16:55:55Z"
    mac: ENC[AES256_GCM,data:okabAULrjKovrSBxGZWy/DZ98uHnCOpFZlBpReBbq1hGI0oApQNvZuWESDMLx4TVh9wqyXwnPB1tb4QROvOQ7CeO42oZbBbE96b/QKSO+o3CUuIY26GUWvlNHwGcJSDoIt7FSKxSBqcodZEqx9Re5sDsUBR7MGIqUp2p/szamj8=,iv:xj2o6MIYGTkdSlqaatZ0I+njyGGnYupa8OTKKCx/OWo=,tag:6fPBtwUdIouCIngL6Pn/pg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
