apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:sWcFW7o1bOU/BR/HCFQPcleX8nakGFxQiBqR2THy62FP6sccAPUQUQ==,iv:zItuSc+edT7Kmmsgab2LFzUwLgUJLdKW6hHZ0KyMJ80=,tag:UjzhDBdH7YhLmo7aMax1rw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6cWM5MmlTM1g3RExaOWo0
            SjAvTnlxV1NUelBHSmhVYlg4UWtNRDc2dUdJCkNoY0dEeTVlK3NSMzlqMlBUK2xv
            M1ViYVgxK3NEeTdzQ254WW9QMU5Qd3cKLS0tIDMzN09OaW5hQnV1emtRS1V5NGU2
            dElGME1kNVJTamhRWTlya1dPd0FXeHMKbvkD/uJg1dcnTwAM4xUYzfMJxkEaqXY4
            WfXEuDq+vJ1zSm1o946lRRWFyJAEpAjFgyHVE9iQ+hMRWVipotx8xw==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-28T00:22:20Z"
    mac: ENC[AES256_GCM,data:kVDoPIqq3DvHKinaem5hFpYuqDY10fL6pt4sfelQYCjPkpJSieBa90HvYs+DZ+Rj2eXEUen+hok16h+DX5/bX2/HR6sHeVYx3P5e7GeFzLBdanmh3UaLat3RJfKKPK7FF+lTnDcLgODIAosj10aHWyiv3+HbRFZCiidZeQhLwaI=,iv:0rtOrnpuEa9aRuQ6fW7X3Dme+/qNEf/4jNNr+G3s5sY=,tag:WN60bRUkK4mSvmilXMZGRg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
