apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:2V0tUtzd7afnAZfXREhoNeUDsObufc/r3dYo6z5G8aNd2lnkambR/w==,iv:/cVWhtvq7TgwUyIA/n+l/uuOFoCsevZeCFFv2cdMCXk=,tag:GLB6IIWVh1BBglknc7sgEQ==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBtaGJZYnVKWEhzdkVzTWFw
            YVliVnNUQmg0V0dtcTlrWGR0d3NmVEcxVEFNCjdZS05wQTY1UU0xWWdEUHlvU1pX
            TkF0QXhEcDI4SURsSjBNOFRxTUFUT2MKLS0tIG5iMmJ5bnBSRG82cUNhY0VKMjBW
            TkFYaDdKZkJGcmNEZHdrOXQyWDFOUW8KkxoXvFpvigaEUVB1v5+HOjShUq685kyi
            XZxE3M008d0Fqnk+oU0omaX+j/VljLbly6IMsaQLa9aUjn/ZHVIy+g==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-07T20:23:32Z"
    mac: ENC[AES256_GCM,data:jbvsCTWpaBkEeAr4FxjrBYqi72BrhMiogI2E7+15bLp04wg1bQVGTlJ2DsajEV/z8bpa/69e0MUigcEbkyl7V3LQg66i6lOWJUYyy+z3kvpUi20Vk7sGXI6dac+azECkdpXprKAdyC6YU7gya8OMU8C8ikqrPQmdyLJp5JRUbcc=,iv:AumLzaC1Nz1lJydWJS1bmLF8i6UL3iB95iENYN/BuQs=,tag:oAjk0KqhoEkVtk9T0QqIvg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
