apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:zRGcbgpHrrlXP0B9Prdcbv2cSxRt9G6D8w2G6AS3V3W95Tq20R56Tw==,iv:2v6gj59TTMQ1E6UX1e1fiElOcXgmeB+DWluF8YyZRsc=,tag:bcoK0dtQcp+cvd721BU5lA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSAvZTVXOWNQcCtOaEIxQzZK
            ZDloQVZUR1NZZnI4Yk8xaFF6N2xhSzE5dkhzCjU2KzFmZVpHVTlGN3AyWTZxZW9N
            V1lHVVlwU3RaSWZ5d2FJQjEzSW5IY3MKLS0tIE9RT2NudzB3aVpJSE5EakJCcUtu
            akRpS09QbnNpV1hvYks1NEJGUExrbncK7KiSvpfIdssT5LmN41fUPtN5457KJ3O8
            vBIoBeVMJ8BU4PwuN5G/V99oVM/ogiQR8T/mURzXCEOHYs9uAfzdNA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-19T04:39:27Z"
    mac: ENC[AES256_GCM,data:vCNry7qjNc2lVb51K7DIHbwS8PPFxGk/N8JhS/isSatBjwbuBqt4IV1wwjxdYOJiFhhsCi9tLWQDRsrOkUjdbIq7w3kNlJER3ZaKj2WSCVgBHOWbj9vvJ1xXZqg91f1wIW4cAhOKcfOfkDVla/8pimPikLeMXL88SUgMjIif5x4=,iv:BXLcDmEyLevRR/T5pAkLSrSe37sPYuKFTh2PPz9HQ5I=,tag:JXX8VZFPYaPYV1W9Ol6O/Q==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
