apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:E/+tEubvtLx92eqp4ab4IZwEJbcsVeojLF9g7HWrkqNVt4ZMoJi+Jg==,iv:iXZQpHFBl9NII19W6W76SIEKYPxT3fQ3HRI11VGwj14=,tag:EL+jVPowAinKXu1KLXAVAg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBlRDZyTThSZnlhQnA1VytL
            bWdoSENTODZtSmRCWTdDb2NURDhqdXRtUURBCjZRNDVQNG5vZ0MyUFlZUzJmd2Vs
            dk1WMXorYnRMVC9va2NUMGw2cFd2SmcKLS0tIGdvWTRZR1B0THhVcnJRcGROcG9E
            UUJNUmV2YVpuajVSRWdJRW5tdUVqOG8KLyXsZLlpvZp0KVUoL39+YtypwET3APtN
            ZXArba6cnrb916UgV1y1pGXc1LGvfysmXf/VtKgS4LCHlH3hBPU6Ow==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-22T08:27:33Z"
    mac: ENC[AES256_GCM,data:4RLbKd4hwx7KVrZat+iwuPY5vylXFfBaLN11rPng2dWniszVJXKUF1cr646SDagOzPM8hDH4wYNmQB3Rk5uZhwqLP9N4QZh1JpVPwYL4KV6ZGpDXOLvynG+Bdi/0yoMCgVH3mcKPWcTGXccY/Gznx6lmD2A8B/+rL/8UleAdWhU=,iv:IzWSuT7QghxNJ9hIsaQxZSx9HsHy3tN17PM52Vn+lBQ=,tag:0oXAp54Cy9PlncgHXDUuSA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
