apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:6tFMn4o7HnaTeKR+yTlQiIxip/nlInlp7MvyFBDcwN8AwicT7lu6EQ==,iv:NmDnUO4A3xGi6/h2X3Shpc34eB24blgEjac7Ho6Jsf0=,tag:EjXUiXAGJvMecndoOJQTRw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOT1pkNnpHK0dZN0dSSll0
            TVFRZnZFWklJZ3VaYWwvTnRaSzUvb0FTYUJJCm9GaFZCLzJLWHk1c1p2M3ZicFhX
            VldlcmkvL2pGcGtVVnAzdm1EZTNIZEUKLS0tIDVjRk1rMG9SRkJwZjNlbEZvM215
            cG0rR0loQXgrVFh0bGZZV1RLcHFMcEkKv79BGSbj0BRbLb13hFPVflO4en1GFLX/
            62+bisb791SnmJiV9g1fQqd/x9yrQgvqEpzDvCyiZDb0WgOtfHBKsQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-02-08T02:19:02Z"
    mac: ENC[AES256_GCM,data:rmeMCEI492yTqmT/6a3WaDnfNMs4sIu+nSW+AuUIcrx2QKgmEdkjeL+Jvm6kqZy5Y7anG/9lYIqi28Wzf8RHrt3OfguAqP7uO3u90ae+t7xFZnhC1kO0DGbOtGoe8Upag+D2c3h+jYfe2J2keygDGpCHLUB3k1o71HzB+Rh+8HA=,iv:bnp/pKJgD4WszWnr4u7ZUe21mSSDao4Y6FTim6E4ooo=,tag:TEv6k+atEGokgk6U+cTXyw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
