apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:Ttp9kOE5TyCDK52AQpCVO4HUXB6kh7eTYRVi8ZZD0VOCwyxyrJW2DA==,iv:0ZMuBeucO/JVZGqJTU53Fgyba2BzZ6Zn/pVVWRLT57o=,tag:6ka/Uatmz136M6s9cD8C2A==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJd3pPR2xZK1VvdnpMZmRa
            MlFSWXA2UzhwRzFERU8yVStNMmtzWElKa1dvCjBmS2UzRm9GYWVnZ1VhNk0waEh6
            d2tnQy9XL0lqNkhwdWtLZlZlNWVOU0UKLS0tIFo2V010ems4a1BlNldhblR3cWNr
            SXFmY2JkbG1FNnVVZ2syUysxQUtXcDQK8RCuReTJZR7V8FDrYzR/AFoobC3CxIJC
            IwnAxQHStvuh2QgxBd7WTygUsH615vu8GNDw+/LGOyRMDXY7QqthhQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-28T23:28:28Z"
    mac: ENC[AES256_GCM,data:x04AykFy1k2CA3O9zS/E25pZ2NKXn2WpqlEVBGFAzVrAZulOJFfMOyQTH+UDkLENJQpuJKq2L9jY3LoYaW6h/T0BW64oZ3E/x+Jg4tWWUIJX7demiTH14zEgIUQGf2x04Tckqnixe15sbJcfhc7IXnjPMEXnGDBMyXTGO1c5v90=,iv:4cqoGfXDMRWu98vpT48ayjtWQtbipMqcmBbP5RtOm2k=,tag:wm0nIEOUi8nc5QUCw+joGA==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
