apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:8/bhj6n1gPFYB1weFeffdOLESnUoPUq4KYzckd8IH1oaPVKullEZdw==,iv:cS9Hbi28ORToadkuo/3zHpaXBlXkaEBdl8y1G3ken/M=,tag:H5dt9UG6+/lDnnfp3OpbqA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB2VzhVdXluY0NKNjlNZmkr
            S1NBandHeVg3cXVvaXVmbXNVTkFOOEJGK3pVCkw3eEk3WVJMdGgwd2tRS1RLOHdo
            UE14RUprUk5QVC9QdHJuclRiMTlaMU0KLS0tIG5lS3A5S0RUVnhmUHJPams2UDRr
            N3VsOWMvWGJmK3hKMzI1SnM2YmNRc2sKp4KKk8m7JMvGnO6hTtVYfhjIoXaiqKau
            yCKqrEk7QieRMqybgxuGQUthm6mqdCnZLdy8eOyPfLF/beq+w4MaLQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-07T21:35:08Z"
    mac: ENC[AES256_GCM,data:8AjzXR+vUoNwOd2xdAFGfTmdfR+BkV100/PjJjVFJl0Y2qzwVzXQ15w9TsHHtgpIHTGmvueieij0a5bdN/EIVHGp/7JJnIToLzHHkf6Owd5i0cvA5BeQK4iqsCRxo/WrB7/RLLvShFk88G/kW1SUifXwZ1s19nQyc07/4aKV0jw=,iv:lHW8zV9lXe1DLOkncyO/L7Au5Kg1I8WM9fw+xyrGl2I=,tag:Yc4pbbqyDBMiC0It4fdLkg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
