apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:VM1BDJ1WLYWaVD7EP/j+MSaXNIWSpBUE9Ic2FBJr9Aw39WsLnYvztA==,iv:evyrZ/guoqHfd5O2Se2+BgjCQkgq9TON+wj436TEbEs=,tag:ceOvniJP11CptjBkkSM01Q==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA4WWRyODVCbjJXdXR1cVBN
            Y0JPazFTbXQ1alZZZnlSSDNUbmhzeTlIK0hRCk9LQnd5QzdDNHczWEhLaVoxeDdL
            amZIVmc2Qlo0b1d1MFgzUjg4UXhNNDQKLS0tIGJlVEZqbnFxcXVmWFdQZVZ1QVJw
            VlRUdC9wZW9rbkR0cS9rZlZ4bXVaK2sKcOiMs/qSWqEJ1apUW93ZQ4H/yWM3C/ff
            pkD4jbzZ0FYxznVR14F7SaLsN4fQetq1hKvAY8T86fTvUJYkfy4tCQ==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-10-28T05:40:29Z"
    mac: ENC[AES256_GCM,data:fLyi0Lr17vtRFSzNvXnoZtNMObBCI4yXYmiwGBI1Slejv0OIgJj0ayoj5XhX/C6ohleVyKCDIJMNU0q8Ivdt5xvinqC3S2w+YzU4yUzj1zDnTUHe81Xu4XT/KMw35n3ZtU1YI9mnpJyQD/YItwwwIsZZq/ncOTbbhvWjKEOqd2Q=,iv:4TYFQd1f38Y5mSgjFvx9RW2mz3git+1R020I0IDAtdo=,tag:8/Rv7yofnqWd2Su4+gzRlw==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
