apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:XCmxIiPoyW9ws7n4+8LODYKjbMxQLErLeCHjtFQAxhH1OfrhlMdSIg==,iv:+KmDitCGkiFee3Nwe5xtc7GI9aEOQhAplMkE39hBtv4=,tag:zT2ULIX7Agay4jIALyS1Lg==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJZ3hLVXNqeHkxR1VIY0ZQ
            bWJqSVg2VzN6akZhSzRNdVR6VHVGMFVVNVdjClN1QkUyRnA0U1lsWDJLcDBmZ2NC
            SkJ1ZGFjMlVPYTVHemZ1a0QvVWxEYTQKLS0tIFdUclcvZ0c4RWszQlF2bDRXRmY0
            UGZqY25jU0FpYmUzNGM5OTNHQU54Z1UK0k7s+fh2QA7YNs0rGXPEe2yuYX5npeXJ
            TM9oLQQNUit2mOQrHkJRKvu/mqNhvBxei6h2xq8zfCV+gMGdJQAFbg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2026-01-14T23:02:17Z"
    mac: ENC[AES256_GCM,data:mx7jaLMK7f9kEF8rstvoKcOx6zzxqNnUPpFfC/1nf9I97Mrgz9aohwN7+Uc9Ultbx348jszHGk767ZxrG/9dD4u1I9F9XNuP6eNGCEcIfKM9cDT3gt6xLUBdTYyipGmQQ8bnJEhaayyFB2o23Ea8KUAIz0LHrB6d2+685HHBJ+I=,iv:GFjdGVVG9RfmLEhsdQ1r+bNyoszVxXidOcjOfbDKJyo=,tag:HcGb2BY9EBRtOO6e97QIjQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
