apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:nrGnWQwiLu/vDRH21/AaCnomoTGy3A7M99RkJcUm6OK86tf5mrEj6A==,iv:Uf6Xy6x63BKG9ea+KESZTN8f6qjzxBnIvrDMiEA+Mw0=,tag:orM8wFOyod3FehpXFU+5Fw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBxdC9nNHJxZS9ERFZkRVk1
            bCtub3lmZ0t5Uzl2Z3htZXdEa0NtSHpMaG5rCmk5Y2VWZFQ1M1J1bmFheWZqbVZh
            M0xLK3ozdzN4MDE5Tm82V09oZ2JrZUUKLS0tIE1McVV5aUMyWjRCeWlQY3h3VHBw
            SGZiZ1NGYi92TXNWSHM3cHpjakN5YzQKh1DCKsqq+pBB1362AXy8fi1OMl9bi/mO
            sIYx+Qo+8BlQ+OgBi2a4QBkyxpd4n+xEVN70Es/vYFeUrN4WGKpvOA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-11T20:07:36Z"
    mac: ENC[AES256_GCM,data:xrFUDd8N3ySldE95+EAXIA0OZgW9zVGwnUAfh5+tugVEGwHkOG6aiZVHPgq9iM7Qa/mB1sevB4ik+Qaf6ejeccbq0OvW0gWFEBNTkIw+CME76vJsfzAouyYvIGWI3S/PEEsEA6MyiH+v5Jr1QpMARSwHw1co/mMtnb9Akxxde3o=,iv:TLPuV1UUpUp9lD3QTL8bBsZSAH/D3ElpbNQITu6q0pU=,tag:yeS2YNPBK56TMA9+yYAqfg==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
