apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:Q46RJ9ekKmg2T2AJ4+DBNCi7XC1IM/9W07l29X7S/wFY0f7V8giblg==,iv:XyNaA8IK+rqpfkKCjMipJOO7t6lGnN4oQR9e4dyfkME=,tag:4uwyFvnsDBM6DIgA4DBfXA==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA0cHVMejZKeWY0cWFORkNB
            QXVCVWtxL2t3T01QTC9WUXRlSXFqVnBFeVJBClZ4T1ZRRURJQlp0dUEvZzhDbjFV
            cTF5RkVoQ3pKRGxzcFdVaENZb2MyNXMKLS0tIDU5TlV6N1o3R0tmeWg5YUp4MEI3
            QkVsOENNVmVkUzEyRnBrMUcxOGNPUDgKlhEL+sEooVWCxdt10yoI65neJIOZqnyY
            ToFA/kJQKaQDK3seH2uP85dANQi/GJ6Ck4lsPtIi1y06NY4o93dbhA==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-11-02T23:14:01Z"
    mac: ENC[AES256_GCM,data:T1cyQJBY7GM1i3+xxROxX/YIDuEZUUXpWyEwMKBCWs3hHh+Fh5q/ubzFVmXI4GCyUoXqB6UTJuzVuNITu0lKdQ5D75QeZMWHJMT//EpdEohr3Kvcf25248D+0hFU4gnk4qDn3//419EkXlOHhPKq10X/3lQuLJZQ0OHFEfAQMTA=,iv:grI1M3EgS21cyPaMK2VDBRaFci9plIB+XeQ9gjD8cEA=,tag:y+AT38yQwlQNNjJj/DYhaQ==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
