apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
stringData:
    token: ENC[AES256_GCM,data:8xGO5VolyRd2X00jm2wrgnYNDoRKQzqtcN5pvQxDwtZgBo123ARK0Q==,iv:lHJR4Jr1/xYXi+aEgPeJjnE8mpOie/tO2RIyFBhmefg=,tag:kDEGnuaCJxWrmYdS2Auvuw==,type:str]
sops:
    shamir_threshold: 3
    age:
        - recipient: age1k26ujnyjzw0y2sd72lyayn694luyr9agswjuklrtn8j3a5vseuaqsvruad
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBkMm41dWRCQXljVEVHMVJU
            cDR3NXMveit5VEdRZnc5MmZZTm1tRndnR1FZCnoxMHpkTjZ0STUvREk2Q29kcUJ0
            bEpNUit3TUlvQi96R0xCQ2F1RThvSzQKLS0tIHNFUjVvelRyM3pDZGRzYzZUYVUw
            bE1NSkxXTWd5L0grMkF4TWJsbEtRUTAKNhBBp15x69oQqOMkcNEEmIzlIgW83kSd
            4rXmD1OFw2iliuKqnq1O+LVZJo61z9sBSe5WSfFgEaBsZR4E3Ye3+w==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-07T21:15:36Z"
    mac: ENC[AES256_GCM,data:N1AuPxnm2QYEIHtA/VccI58dqVdKzXTCfEZeREkNGHXGLOy06b4nlg/nqMom+CKhJUlaCQPIDBWHTu/LzrX2B27BR+Tbhw/CzCoOawVM3JAeh+YpQM4Xtxq1Ha1lA32yu3PKJzzdhwoYC+7OyHVkAH46Oq96NggxD9GCD3wBmxg=,iv:DMpn/8KmnBo57g4Ggb2tucTm/BJTzbn9M9MHbxRov4A=,tag:RON6d7wZSktTveB/itEjow==,type:str]
    encrypted_regex: ((?i)(displayname|email|pass|ca|id|bootstraptoken|secretboxencryptionsecret|secrets|secrets|password|cert|secret($|[^N])|key|token|^data$|^stringData))
    version: 3.10.2
