apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: searxng
  namespace: ai
spec:
  interval: 15m
  chart:
    spec:
      chart: searxng
      version: 10.16.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    persistence:
      config:
        enabled: true
        type: nfs
        mountPath: "/etc/searxng"
        path: ${NFS_APP_CONFIGS}/searxng
        server: ${NAS_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts: 
          - host: searxng.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: "domain-0-le-prod"