apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nzbget
  namespace: downloaders
spec:
  interval: 15m
  chart:
    spec:
      chart: nzbget
      version: 24.1.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/elfhosted/nzbget
      pullPolicy: IfNotPresent
      tag: 24.4@sha256:7374ee77d5b84bad609b5319d03cbf9fa4a081efe9b6b25f9969630a859e8775
    service:
      main:
        ports:
          main:
            port: 10057
            targetPort: 6789
    credentials:
      cloudflare_r2:
          type: s3
          url: https://695051d557f576416fd4b96344422c4d.r2.cloudflarestorage.com ## DO NOT TOUCH - THIS IS WORKING
          bucket: ${CLOUDFLARE_R2_BUCKET_PREFIX}-jellyfin
          accessKey: ${CLOUDFLARE_R2_KEY_ID} ## DO NOT TOUCH - THIS IS WORKING
          secretKey: ${CLOUDFLARE_R2_ACESS_KEY} ## DO NOT TOUCH - THIS IS WORKING
          encrKey: ${CLOUDFLARE_R2_ENCRKEY} ## DO NOT TOUCH - THIS IS WORKING
    persistence:
        config:
            volsync:
                - name: config
                  type: restic
                  credentials: cloudflare_r2
                  dest:
                    enabled: true
                  src:
                    enabled: true
                    trigger:
                      schedlue: 30 0 * * *
        downloads:
            enabled: true
            type: nfs
            mountPath: /config/downloads
            path: /mnt/hhd-hc-primary/media/data/usenet
            server: 192.168.30.49
    ingress:
        main:
            enabled: true
            hosts:
                - host: nzbget.${DOMAIN_0}
                  paths:
                    - path: /
                      pathType: Prefix
            integrations:
                certManager:
                    enabled: true
                    certificateIssuer: domain-0-le-prod
                traefik:
                    enabled: true
                    entrypoints:
                        - websecure
                homepage:
                    enabled: true
                    name: NZBget
                    description: This is a NZBget instance
                    group: Media
                    icon: ""
                    widget:
                      type: nzbget
                      url: https://nzbget.downloaders.svc.cluster.local
    addons:
      vpn:
        type: gluetun
        killSwitch: true
        excludedNetworks_IPv4:
          - "192.168.30.0/24"
        excludedNetworks_IPv6: []
        env:
          VPN_SERVICE_PROVIDER: "private internet access"
          VPN_TYPE: "openvpn"
          OPENVPN_USER: "${OPEN_VPN_USER}"
          OPENVPN_PASSWORD: "${OPEN_VPN_PASS}"
          SERVER_REGIONS: "US California"
          SERVER_CITIES: "us-california.privacy.network"
          PRIVATE_INTERNET_ACCESS_OPENVPN_ENCRYPTION_PRESET: "normal"
          VPN_ENDPOINT_PORT: "1198"