apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: steam-headless
  namespace: gaming
spec:
  interval: 15m
  chart:
    spec:
      chart: steam-headless
      version: 6.8.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    podOptions:
      nodeSelector:
        kubernetes.io/hostname: k8s-worker-1
      runtimeClassName: "nvidia"

    resources:
        requests:
          nvidia.com/gpu: 1
        limits:
          nvidia.com/gpu: 1

    workload:
      main:
        podSpec:
          containers:
            main:
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              env:
                PORT_NOVNC_WEB: "{{ .Values.service.main.ports.main.port }}"
                MODE: "primary"
                # MODE = secondary
                # DISPLAY: :0
                # HOST_DBUS: true
                WEB_UI_MODE: "vnc"
                ENABLE_VNC_AUDIO: false
                # NEKO_NAT1TO1: "" needs to be the ip of the host
                ENABLE_SUNSHINE: true
                SUNSHINE_USER: "admin"
                SUNSHINE_PASS: "${ADMIN_PASS}"
                # USER_PASSWORD: ""
                # ENABLE_EVDEV_INPUTS: false
                # NVIDIA_DRIVER_CAPABILITIES: "all"
                # NVIDIA_VISIBLE_DEVICES: "all"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts: 
          - host: sunshine.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: "domain-0-le-prod"