apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: steam-headless
  namespace: gaming
spec:
  interval: 15m
  chart:
    spec:
      chart: steam-headless
      version: 6.8.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    podOptions:
      nodeSelector:
        kubernetes.io/hostname: k8s-worker-1
      runtimeClassName: "nvidia"

    resources:
        requests:
          nvidia.com/gpu: 1
        limits:
          nvidia.com/gpu: 1

    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                PORT_NOVNC_WEB: "{{ .Values.service.main.ports.main.port }}"
                MODE: "primary"
                # MODE = secondary
                # DISPLAY: :0
                # HOST_DBUS: true
                WEB_UI_MODE: "vnc"
                ENABLE_VNC_AUDIO: false
                # NEKO_NAT1TO1: "" needs to be the ip of the host
                ENABLE_SUNSHINE: true
                SUNSHINE_USER: "admin"
                SUNSHINE_PASS: "${ADMIN_PASS}"
                # USER_PASSWORD: ""
                # ENABLE_EVDEV_INPUTS: false
    service:
      main:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${STEAM_IP}
        integrations:
          metallb:
            enabled: true
        ports:
          main:
            enabled: true
            protocol: http
            port: 8083
          sunshine-web:
            enabled: true
            port: 47990
            targetPort: 47990
            protocol: http
          sunshine-tcp-1:
            enabled: true
            port: 47984
            targetPort: 47984
            protocol: tcp
          sunshine-tcp-2:
            enabled: true
            port: 47989
            targetPort: 47989
            protocol: tcp 
          sunshine-tcp-3:
            enabled: true
            port: 48010
            targetPort: 48010
            protocol: tcp 
          sunshine-udp-1:
            enabled: true
            port: 47998
            targetPort: 47998
            protocol: udp
          sunshine-udp-2:
            enabled: true
            port: 47999
            targetPort: 47999
            protocol: udp
          sunshine-udp-3:
            enabled: true
            port: 48000
            targetPort: 48000
            protocol: udp

    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts: 
          - host: steam.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: "domain-0-le-prod"