---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wizarr
  namespace: downloaders
spec:
  interval: 15m
  chart:
    spec:
      chart: wizarr
      version: 11.13.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/wizarrrr/wizarr
      pullPolicy: IfNotPresent
      tag: latest@sha256:f2eabe36fcbdb4e8c50fc98b4fe9aa1a00dfcd4411d3ea3f10cf619cf3d83341
    persistence:
      database: # this is the target location for nzbget
        enabled: true
        type: nfs
        mountPath: /data/database
        path: ${NFS_WIZARR_DATABASE}
        server: ${NAS_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: wizarr.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          traefik:
              enabled: false
          homepage:
            enabled: true
            name: Wizarr
            description: This is a wizarr instance
            group: "{{ .Release.Namespace }}"
            icon: ""
            widget: 
              custom:
                key: ${HP_WIZARR}
      admin:
        enabled: true
        ingressClassName: external
        hosts:
          - host: wizarr.${DOMAIN_0}
            paths:
              - path: /admin
                pathType: Prefix
        integrations:
          nginx:
            ipWhitelist: ["${IP_WHITELIST}"]
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          traefik:
              enabled: false