apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseerr
  namespace: downloaders
spec:
  interval: 15m
  chart:
    spec:
      chart: jellyseerr
      version: 13.13.22
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # Prefer control plane for jellyseerr
    podOptions:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
    persistence:
      config:
        enabled: true
        type: nfs
        mountPath: /app/config
        path: ${NFS_JELLYSEERR_CONFIG}
        server: ${NAS_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: jellyseerr.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          traefik:
              enabled: false
          homepage:
            enabled: true
            name: jellyseerr
            description: This is a jellyseerr instance
            group: "{{ .Release.Namespace }}"
            icon: ""
            widget:
              custom:
                key: ${HP_JELLYSEERR}