apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nzbget
  namespace: downloaders
spec:
  interval: 15m
  chart:
    spec:
      chart: nzbget
      version: 28.3.19
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # Prefer control plane for nzbget
    podOptions:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
    persistence:
      config:
        enabled: true
        type: nfs
        mountPath: /config
        path: ${NFS_NZBGET_CONFIG}
        server: ${NAS_IP}
      downloads:
        enabled: true
        type: nfs
        mountPath: /config/downloads
        path: ${NFS_MEDIA_USENET}
        server: ${NAS_IP}
      scripts:
        enabled: true
        type: nfs
        mountPath: /app/scripts
        path: ${NFS_NZBGET_SCRIPTS}
        server: ${NAS_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts: 
          - host: nzbget.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: "domain-0-le-prod"
          homepage:
            enabled: true
            name: NZBget
            description: This is a NZBget instance
            group: "{{ .Release.Namespace }}"
            icon: ""
            widget:
                custom:
                  username: ${NZBGET_USERNAME}
                  password: ${NZBGET_PASSWORD}
