---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lidarr
  namespace: downloaders
spec:
  interval: 15m
  chart:
    spec:
      chart: lidarr
      version: 28.6.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # Prefer control plane for lidarr
    podOptions:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
    persistence:
      config: # this is the target location for media
        enabled: true
        type: nfs
        mountPath: /config
        path: ${NFS_LIDARR_CONFIG}
        server: ${NAS_IP}
      target: # this is the target location for media
        enabled: true
        type: nfs
        mountPath: /data/media
        path: ${NFS_MEDIA_MUSIC}
        server: ${NAS_IP}
      nzbget-target: # this is the target location for nzbget
        enabled: true
        type: nfs
        mountPath: /config/downloads
        path: ${NFS_MEDIA_USENET}
        server: ${NAS_IP}
    workload:
      main:
        podSpec:
          containers:
            exportarr:
              env:
                URL: 'http://lidarr:{{ .Values.service.main.ports.main.port }}'
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: lidarr.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          traefik:
              enabled: false
          homepage:
            enabled: true
            name: lidarr
            description: This is a lidarr instance
            group: "{{ .Release.Namespace }}"
            icon: ""
            widget:
              custom:
                key: ${HP_LIDARR}
