apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headphones
  namespace: downloaders
spec:
  interval: 15m
  chart:
    spec:
      chart: headphones
      version: 14.13.11
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # Prefer control plane for headphones
    podOptions:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
    persistence:
      config:
        enabled: true
        mountPath: /config
        type: nfs
        path: ${NFS_APP_CONFIGS}/headphones/config
        server: ${NAS_IP}
      audiobooks:
        enabled: true
        mountPath: /audiobooks
        type: nfs
        path: ${NFS_MEDIA_AUDIOBOOKS}
        server: ${NAS_IP}
      music:
        enabled: true
        mountPath: /music
        type: nfs
        path: ${NFS_MEDIA_MUSIC}
        server: ${NAS_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: headphones.${DOMAIN_0}
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          traefik:
              enabled: false
          # homepage:
          #   enabled: true
          #   name: Lazylibrarian
          #   description: This is a lazylibrarian instance
          #   group: "{{ .Release.Namespace }}"
          #   icon: ""
          #   widget:
          #     custom:
          #       key: ${HP_AUDIOBOOKSHELF}