apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
  namespace: ai
spec:
  interval: 15m
  chart:
    spec:
      chart: ollama
      version: 8.15.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    securityContext:
      container:
        runAsNonRoot: false
        readOnlyRootFilesystem: false
        runAsUser: 0
        runAsGroup: 0

    podOptions:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: node-type
                    operator: In
                    values:
                      - ai-dedicated
      runtimeClassName: "nvidia"

    resources:
        limits:
          nvidia.com/gpu: 1

    workload:
      main:
        type: Deployment
        podSpec:
          runtimeClassName: "nvidia"
          containers:
            main:
              env:
                OLLAMA_HOST: "0.0.0.0:11434"
                OLLAMA_ORIGINS: "*"
              resources:
                limits:
                  memory: 4Gi
                requests:
                  memory: 2Gi
      ui:
        type: Deployment
        podSpec:
          affinity:
            nodeAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - weight: 100
                  preference:
                    matchExpressions:
                      - key: node-type
                        operator: In
                        values:
                          - ai-dedicated

    persistence:
      config:
        enabled: true
        type: nfs
        mountPath: "/root/.ollama"
        path: ${NFS_APPS}/ollama/config
        server: ${NAS_IP}
        targetSelector:
          main:
            main:
              mountPath: "/root/.ollama"
      data:
        enabled: true
        type: nfs
        mountPath: "/app/backend/data"
        path: ${NFS_APPS}/ollama/data
        server: ${NAS_IP}
        targetSelector:
          ui:
            ui:
              mountPath: "/app/backend/data"

    ingress:
      main:
        primary: true
        enabled: true
        ingressClassName: internal
        hosts:
          - host: ollama.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: "domain-0-le-prod"
