apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minecraft-1
  namespace: gaming
spec:
  interval: 15m
  chart:
    spec:
      chart: minecraft-java
      version: 23.56.17
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    securityContext:
      container:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      pod:
        fsGroup: 1000
    workload:
      main:
        podSpec:
          containers:
            main:
              imageSelector: image
              securityContext:
                runAsUser: 1000
                runAsGroup: 1000
                runAsNonRoot: true
              probes:
                liveness:
                  enabled: true
                  type: exec
                  command:
                    - mc-health
                readiness:
                  enabled: true
                  type: exec
                  command:
                    - mc-health
                startup:
                  enabled: true
                  type: exec
                  command:
                    - mc-health
              env:
                SERVER_PORT: "{{ .Values.service.main.ports.main.port }}"
                QUERY_PORT: "{{ .Values.service.main.ports.query.port }}"
                RCON_PORT: "{{ .Values.service.rcon.ports.rcon.port }}"
                ENABLE_QUERY: "true"
                EULA: "TRUE"
                GUI: "FALSE"
                OVERRIDE_SERVER_PROPERTIES: true
                VERSION: "LATEST"
                TYPE: "MODRINTH"
                DIFFICULTY: "Normal"
                MAX_PLAYERS: 20
                MAX_WORLD_SIZE: 10000
                ALLOW_NETHER: true
                ANNOUNCE_PLAYER_ACHIEVEMENTS: true
                ENABLE_COMMAND_BLOCK: false
                FORCE_GAMEMODE: false
                GENERATE_STRUCTURES: true
                HARDCORE: false
                MAX_BUILD_HEIGHT: 256
                MAX_TICK_TIME: 60000
                SPAWN_ANIMALS: true
                SPAWN_MONSTERS: true
                SPAWN_NPCS: true
                VIEW_DISTANCE: 16
                MODE: survival
                MOTD: "Welcome to Minecraft on Hoth Systems!"
                PVP: false
                LEVEL_TYPE: DEFAULT
                LEVEL: world
                ONLINE_MODE: true
                MEMORY: 6144M
                MODRINTH_LOADER: PAPER
                MODRINTH_PROJECTS: |
                  axgraves
                  simple-voice-chat
                # RCON_PASSWORD: "secretrconpass"
                # PACKWIZ_URL: ""
                # CUSTOM_SERVER: ""
                # QUILT_LOADER_VERSION: ""
                # QUILT_LAUNCHER: ""
                # QUILT_LAUNCHER_URL: ""
                # PUFFERFISH_BUILD: "lastSuccessfulBuild"
                # FORGEVERSION: ""
                # FORGE_INSTALLER: ""
                # FORGE_INSTALLER_URL: ""
                # FABRIC_LOADER_VERSION: ""
                # FABRIC_INSTALLER: ""
                # FABRIC_INSTALLER_URL: ""
                # SPIGOT_DOWNLOAD_URL: ""
                # BUILD_FROM_SOURCE: false
                # BUKKIT_DOWNLOAD_URL: ""
                # PAPERBUILD: ""
                # PAPER_DOWNLOAD_URL: ""
                # AIRPLANE_BUILD: "lastSuccessfulBuild"
                # MAGMA_CHANNEL: "stable"
                # MOHIST_BUILD: ""
                # CANYON_BUILD: ""
                # SPONGEBRANCH: "STABLE"
                # SPONGEVERSION: ""
                # LIMBO_BUILD: "LATEST"
                # LIMBO_SCHEMA_FILENAME: "default.schem"
                # CRUCIBLE_RELEASE: "latest"
                # FTB_MODPACK_ID: ""
                # FTB_MODPACK_VERSION_ID: ""
                # CF_SERVER_MOD: ""
                # CF_BASE_DIR: ""
                # USE_MODPACK_START_SCRIPT: true
                # FTB_LEGACYJAVAFIXER: false
                WHITELIST: |
                  echobasemama
                  itzDad
                  Geeray7612
                OPS: |
                  itzDad
                # ICON: ""
                # SEED: ""
                # GENERATOR_SETTINGS: ""
                # WORLD: ""
                # FORCE_REDOWNLOAD: false
                # USE_FLARE_FLAGS: false
                # USE_AIKAR_FLAGS: true
                # USE_SIMD_FLAGS: false
                # JVM_OPTS: ""
                # JVM_XX_OPTS: ""
                # CF_API_KEY
                # CF_PAGE_URL
                # CF_SLUG
                # CF_EXCLUDE_INCLUDE_FILE
                # CF_EXCLUDE_MODS
                # CF_FORCE_INCLUDE_MODS
                # CF_FORCE_SYNCHRONIZE
                # CF_OVERRIDES_SKIP_EXISTING
                # CF_PARALLEL_DOWNLOADS
                # CF_SET_LEVEL_FROM
              resources:
                requests:
                  memory: "6Gi"
                  cpu: "2000m"
                limits:
                  memory: "8Gi"
                  cpu: "4000m"
            mcbackup:
              enabled: true
              imageSelector: mcBackupImage
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              env:
                BACKUP_METHOD: "tar"
                DEST_DIR: "{{.Values.persistence.backups.mountPath }}"
                SRC_DIR: "{{.Values.persistence.data.mountPath }}"
                SERVER_PORT: "{{ .Values.service.main.ports.main.port }}"
                RCON_HOST: '{{ printf "%s-rcon" (include "tc.v1.common.lib.chart.names.fullname" $) }}'
                RCON_PORT: "{{ .Values.service.rcon.ports.rcon.port }}"
                RCON_PASSWORD: "{{ .Values.workload.main.podSpec.containers.main.env.RCON_PASSWORD }}"
                SERVER_HOST: '{{ include "tc.v1.common.lib.chart.names.fullname" $ }}'

                ZSTD_PARAMETERS: '{{ join " " .Values.mcbackup.zstd_params }}'
                EXCLUDES: '{{ join "," .Values.mcbackup.excludes }}'

                INITIAL_DELAY: "2m"
                BACKUP_INTERVAL: "24h"
                PRUNE_BACKUPS_DAYS: "7"
                PAUSE_IF_NO_PLAYERS: "false"
                PLAYERS_ONLINE_CHECK_INTERVAL: "5m"
                LINK_LATEST: "false"
                TAR_COMPRESS_METHOD: "zstd"

    service:
      main:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: ${MINECRAFT_1_IP}
        externalTrafficPolicy: Local
        integrations:
          metallb:
            enabled: true
        ports:
          main:
            enabled: true
            port: 25565
            protocol: tcp
          query:
            enabled: true
            port: 25565
            targetPort: 25565
            protocol: udp
      rcon:
        enabled: true
        type: ClusterIP
        ports:
          rcon:
            enabled: true
            port: 25575
            protocol: tcp

    persistence:
      data:
        enabled: true
        type: nfs
        mountPath: /data
        path: ${NFS_MINECRAFT_DATA}
        server: ${NAS_IP}
        targetSelector:
          main:
            main:
              mountPath: /data
            mcbackup:
              mountPath: /data
              readOnly: true
      plugins:
        enabled: true
        type: nfs
        mountPath: /plugins
        path: ${NFS_MINECRAFT_DATA}/plugins
        server: ${NAS_IP}
        targetSelector:
          main:
            main:
              mountPath: /plugins
            mcbackup:
              mountPath: /plugins
              readOnly: true
      backups:
        enabled: true
        type: nfs
        mountPath: /backups
        path: ${NFS_MINECRAFT_DATA}/backups
        server: ${NAS_IP}
        targetSelector:
          main:
            mcbackup:
              mountPath: /backups