apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: jellyfin
      version: 22.2.8
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    workload:
      main:
        podSpec:
          # runtimeClassName: "intel-gpu"
          containers:
            main:
              resources:
                limits:
                  gpu.intel.com/i915: 1
    persistence:
      config:
        enabled: true
        type: nfs
        mountPath: /config
        path: ${NFS_JELLYFIN_CONFIG}
        server: ${NAS_IP}
      transcode:
        enabled: true
        type: nfs
        mountPath: /transcode
        path: ${NFS_JELLYFIN_TRANSCODE}
        server: ${NAS_IP}
      media:
        enabled: true
        type: nfs
        mountPath: /media
        path: ${NFS_MEDIA}
        server: ${NAS_IP}
      cache:
        enabled: true
        mountPath: "/cache"
        type: "emptyDir"
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts: 
          - host: jellyfin.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: "domain-0-le-prod"
          homepage:
            enabled: true
            name: Jellyfin
            description: This is a jellyfin instance
            group: "{{ .Release.Namespace }}"
            icon: ""
            widget:
              custom:
                key: ${HP_JELLYFIN}