---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
  namespace: downloaders
spec:
  interval: 15m
  chart:
    spec:
      chart: radarr
      version: 26.3.21
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # Prefer control plane for radarr
    podOptions:
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
    persistence:
      config: # this is the target location for media
        enabled: true
        type: nfs
        mountPath: /config
        path: ${NFS_RADARR_CONFIG}
        server: ${NAS_IP}
      target: # this is the target location for media
        enabled: true
        type: nfs
        mountPath: /data/media
        path: ${NFS_MEDIA_MOVIES}
        server: ${NAS_IP}
      nzbget-target: # this is the target location for nzbget
        enabled: true
        type: nfs
        mountPath: /config/downloads
        path: ${NFS_MEDIA_USENET}
        server: ${NAS_IP}
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
          - host: radarr.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          traefik:
              enabled: false
          homepage:
            enabled: true
            name: radarr
            description: This is a radarr instance
            group: "{{ .Release.Namespace }}"
            icon: ""
            widget:
              custom:
                key: ${HP_RADARR}
