apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
  namespace: ai
spec:
  interval: 15m
  chart:
    spec:
      chart: n8n
      version: 17.46.5  # Downgraded from 17.40.3 due to "TODO: not implemented" error
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    # Prefers AI workloads on dedicated worker node
    podOptions:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: node-type
                    operator: In
                    values:
                      - ai-dedicated

    deployment:
      N8N_HOST: "n8n.hoth.systems"
    endpoints: {
      WEBHOOK_URL: "https://n8n.hoth.systems"
    }
    persistence:
      data:
        enabled: true
        type: nfs
        mountPath: "/data"
        path: ${NFS_APP_CONFIGS}/n8n
        server: ${NAS_IP}
    credentials:
      cloudflare_r2:
        type: s3
        url: "${CLOUDFLARE_R2_URL}"
        bucket: "${CLOUDFLARE_R2_BUCKET_PREFIX}-n8n"
        accessKey: "${CLOUDFLARE_R2_ACCESS_KEY_ID}"
        secretKey: "${CLOUDFLARE_R2_SECRET_ACESS_KEY}"
        encrKey: "${CLOUDFLARE_R2_ENCRKEY}"
    cnpg:
    # backup process as follows
    ## incriment backup.revsision and recovery.revision +1
      main:
        # mode: recovery
        backups:
          enabled: true
          # revision: 0
          credentials: cloudflare_r2
          retentionPolicy: "7d"
          scheduledBackups:
          - name: daily-backup
            schedule: "0 0 2 * * *"
            backupOwnerReference: self
            immediate: true
            suspend: false
        recovery:
          # revision: 0
          credentials: cloudflare_r2
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts: 
          - host: n8n.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: "domain-0-le-prod"