apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: searchxng
  namespace: ai
spec:
  interval: 15m
  chart:
    spec:
      chart: searchxng
      version: 10.11.14
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    persistence:
      data:
        enabled: true
        type: nfs
        mountPath: /etc/searxng
        path: ${NFS_APP_CONFIGS}/searchxng
        server: ${NAS_IP}